.container{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #f4ecd5ea;
    z-index: 10000;
    top: 0;
    left: 0;
  }
  
  .details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 100%;
  }
  
  img{
    border-bottom: 10px solid rgb(238, 207, 134);
    width: 200px;
    height: 200px;
  }
  
  h1{
  color: rgb(221, 177, 66);
  text-transform: lowercase;
  }
  