// footer {
//     background-color:rgba(240, 198, 99, 0.684);
//     padding: 20px 0;
//     text-align: center;
//   }

//   .container {
//     max-width: 960px;
//     margin: 0 auto;
//   }
// footer {
//   background-color:rgba(240, 198, 99, 0.684);
//    padding: 2px ;
//    text-align:center;

// }

// .container {
//   max-width: 500px;
//    margin: 0 auto;


// }
// .social-icons{
// display:inline-flex;
// margin-right: 2%;

// }
footer {

  background-color: rgba(240, 198, 99, 0.684);
  padding-bottom: 0.5px;
  
}
.row{
  display:flex;
 justify-content: space-evenly;
}

.btn-btn-primary{
  margin-left: 10px;
}
.hs{
  text-align: center;
}
.hj{
  text-align: center;
}
button{
  border: 1px solid black;
  border-radius: 50%;
}
