footer {
    background-color:rgba(240, 198, 99, 0.684);
     padding: 2px ;
     text-align:center;
    
  }
  
  .container {
    max-width: 500px;
     margin: 0 auto;
   
    
  }
.social-icons{
  display:inline-flex;
}
  
