
    <footer>
      <div class="row">
        <div class="col">
          <h3>Contact Us</h3>
          <p>123 Main Street <br>EGYPT, Assuit 12345<br>
            <fa-icon [icon]="faPhone" ></fa-icon> Phone: (555) 555-5555<br> 
            <fa-icon [icon]="faEnvelope" ></fa-icon> Email: info@restaurant.com
          </p>
        </div>
        <div class="col">
          <h3 class="hj" >Follow Us</h3>
          <button class="btn btn-primary" class="s1" style="background-color: rgba(74, 160, 246, 0.908);">
            <fa-icon [icon]="faFacebook" ></fa-icon> 
          </button>
          <button class="btn btn-primary" class="s1" style="background-color: rgba(192, 125, 254, 0.838);">
            <fa-icon [icon]="faInstagram"  ></fa-icon> 
          </button>
          <button class="btn btn-primary" class="s1" style="background-color: rgba(21, 210, 243, 0.977)">
            <fa-icon [icon]="faTwitter" ></fa-icon> 
          </button>
          <button class="btn btn-primary" class="s1" style="background-color: rgba(195, 211, 214, 0.977)">
            <fa-icon [icon]="faGithub" ></fa-icon> 
          </button>
          <button class="btn btn-primary" class="s1" style="background-color: rgba(244, 65, 65, 0.977)">
            <fa-icon [icon]="faGoogle" ></fa-icon> 
          </button>
        </div>
      </div>
      <p class="hs"><b>&copy; 2023 GDG CAFE. All rights reserved.</b></p> 
    </footer>