div{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1.5rem;
  font-weight: 100;
  height: 30rem;
  padding: 4%;
}

a{
  font-size: 1.1rem;
  background-color: #ddac2e;
  color: white;
  border-radius: 10rem;
  padding: 0.7rem 1rem;
  margin: rem;
  opacity: 0.8;
}

a:hover{
  opacity: 1;
  cursor: pointer;
}