<h2>Our Chefs</h2>
<div class="card-group">
    <div class="card">
        <img src="../../../../assets/c1.jpg" class="card-img-top" alt="Card image cap">
        <div class="card-body">
            <h3 class="card-title">Olivia Harper</h3>

            <h4 class="card-text"><b> specialty : </b> Japanese Cuisine</h4>
            
        </div>
    </div>
    <div class="card">
        <img src="../../../../assets/c4.jpg" class="card-img-top" alt="Card image cap">
        <div class="card-body">
            <h3 class="card-title">Robert Jane</h3>

            <h4 class="card-text"><b> specialty : </b> Italian Cuisine</h4>

        </div>
    </div>
    <div class="card">
        <img src="../../../../assets/c3.jpg" class="card-img-top" alt="Card image cap">
        <div class="card-body">
            <h3 class="card-title">Ava Daniel</h3>

            <h4 class="card-text"><b> specialty : </b> French Cuisine</h4>

        </div>
    </div>
    
    <div class="card">
        <img src="../../../../assets/c2.jpg" class="card-img-top" alt="Card image cap">
        <div class="card-body">
            <h3 class="card-title">Charlotte Joseph</h3>

            <h4 class="card-text"><b> specialty : </b> Spanish Cuisine</h4>

        </div>
    </div>
   
</div>