
.card-group {
  display:flex;
  height: 500px;
 margin-bottom: 1%;
 margin-left: 1%;
}

.card {
  flex: 1;
  margin-right: 10px;
  border: 1px solid burlywood;
  padding: 2%;
 
}
img{
  width: 70%;
  height: 65%;
  border: 50%;
  margin-left: 10%;
}

img:hover{
  cursor: pointer;
}

h1{
  color:  rgb(235, 177, 96);
  
  text-align: center;
}
.p1{
  font-size:28px;
  
  text-align: center;
}
p{
  font-size: 20px;
}
