<h2>REVIWES</h2>
<div class="card-group">
    <div class="card">
        <img src="../../../../assets/p4.jpg" class="card-img-top" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Laura Lee</h5>

            <p class="card-text">"I had the pleasure of dining at this restaurant last night and it was truly a
                memorable experience.The menu was extensive and offered a range of options to suit different tastes .
                The flavors were expertly balanced and each bite was a delight. The staff were friendly and attentive,
                ensuring that we had everything we needed throughout the evening. I highly recommend this restaurant to
                anyone looking for a high-end dining experience."</p>
            
        </div>
    </div>
    <div class="card">
        <img src="../../../../assets/p3.jpg" class="card-img-top" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">John David</h5>

            <p class="card-text">"Visiting this restaurant was a delightful experience. The menu had a great variety of
                dishes to choose from, and everything we ordered was prepared to perfection. The chef clearly takes
                pride in their work, and it shows in the quality of the food. The service was excellent as well - our
                waiter was friendly and attentive throughout the meal. I would definitely recommend this restaurant to
                anyone looking for a great dining experience."</p>

        </div>
    </div>
    <div class="card">
        <img src="../../../../assets/p1.png" class="card-img-top" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Emma Grace</h5>

            <p class="card-text">"The restaurant exceeded my expectations! The food was absolutely delicious and the
                service was top-notch. The atmosphere was cozy and inviting, making it the perfect spot for a romantic
                dinner or a night out with friends. I highly recommend this restaurant and can't wait to go back!"</p>

        </div>
    </div>
    <br>
    <div class="card">
        <img src="../../../../assets/p5.jpg" class="card-img-top" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">James Michael</h5>

            <p class="card-text">"Visiting this restaurant was a delightful experience. The menu had a great variety of
                dishes to choose from, and everything we ordered was prepared to perfection. The chef clearly takes
                pride in their work, and it shows in the quality of the food. The service was excellent as well - our
                waiter was friendly and attentive throughout the meal. I would definitely recommend this restaurant to
                anyone looking for a great dining experience."</p>

        </div>
    </div>
    <div class="card">
        <img src="../../../../assets/p2.jpg" class="card-img-top" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Thomas Samuel</h5>

            <p class="card-text">"The restaurant exceeded my expectations! The food was absolutely delicious and the
                service was top-notch. The atmosphere was cozy and inviting, making it the perfect spot for a romantic
                dinner or a night out with friends. I highly recommend this restaurant and can't wait to go back!"</p>

        </div>
    </div>
</div>