<div class="background-image">
    <h1>About Us</h1>
    <div class="about-us">
        <h2>Our Story</h2>
        <p>- Enjoy the tastiest and most delicious signature dishes at our restaurant!
            <br>
            - Our restaurant offers a variety of mouth-watering and diverse cuisines.
            <br>
            - Fast and reliable delivery for all your online orders!
            <br>
            - Healthy and delicious food all in one place!
            <br>
            - Free delivery for orders over $50.
            <br>
            - Enjoy delicious and healthy food in the comfort of your own home with our fast delivery service.
        </p>

        <h2>Our Team</h2>
        <ul>
            <li>Ghadeer Mohamed Gamal</li>
            <li>Doaa Abd ElHafeez</li>
            <li>Gehad Badr Saad</li>

        </ul>
        <h2>Our Services</h2>
        <ul>
            <p>- Our restaurant provides exceptional services to ensure a comfortable and enjoyable dining experience.
                <br>
                - Our friendly staff will make sure you have everything you need during your visit.
                <br>
                - We offer a wide range of services, including catering, private events, and delivery.
                <br>
                - Our restaurant offers a variety of payment options for your convenience, including cash, credit/debit
                card, and mobile payments.
                <br>
                providing excellent customer service and welcome any feedback to improve our services.
            </p>
        </ul>
    </div>
    <hr>
    <app-chefs></app-chefs>
    <div style="padding: 20px;">
        <app-reviews></app-reviews>
    </div>
    <hr>
    
</div>