.about-us {
    width: 500px;
    margin: 0 auto;
}

h1 {
    color: rgb(241, 185, 74);
}

.about-us h1 {
    font-size: 24px;
    margin-bottom: 20px;

}

.about-us h2 {
    font-size: 18px;
    margin-bottom: 10px;
    color: rgb(235, 177, 96);
}

.about-us p {
    font-size: 16px;
    line-height: 1.5;
}

.about-us ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.about-us li {
    margin-bottom: 10px;
}
.background-image {
   background-color: rgba(240, 198, 99, 0.193);
    background-size: cover;
   
  }
  